<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dong.starsmind">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.StarsApplication"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".home.StartActivity"
            android:hardwareAccelerated="false"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".home.MainActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable_config" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>

        <activity
            android:name=".todo.activity.AddToDoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".todo.activity.TodoListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".news.activity.WXHotActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".news.activity.HealthNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".common.activity.WebViewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".tuling.activity.TuLingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".read.activity.BookshelfActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".common.activity.BigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".historyevent.activity.HistoryEventActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />
        <activity
            android:name=".historyevent.activity.HistoryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSwipeBack" />

        <activity
            android:name=".read.activity.ReadActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>